@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,500&family=Saira:wght@100&display=swap');

:root {
    --sunny-color: #c1eaf5;
    --cloudy-one: #cfe1e6;
    --cloudy-two: #bccbcf;
    --precip-one: #d3d9db;
    --precip-two: #c3c6c7;
    --snowy: #ededed;
    --thunder: #828485;
    --night: #374980;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
}

.content {
    height: 100vh;
    background-color: #dbf7ff;
    transition: background-color 1s ease;
    display: flex;
    flex-direction: column;
}

.top-ribbon {
    flex: 1;
    display: flex;
    padding: 1em 1em 0 1em;
    gap: 1em;
}

.top-ribbon > img {
    height: 4em;
    width: 5em;
}

.titles {
    flex: 3;
    padding: 0.5em;
}

.utilities {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: space-evenly;
}

.location-search {
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid black;
    background-color: inherit;
    font-size: larger;
    margin: 0 1em;
    &:focus {
        outline: none;
    }
}

.location > button {
    padding: 0.5em;
    width: 5em;
    border-radius: 5px;
    border: none;
    background-color: orange;
    font-size: larger;
    transition: all 0.2s ease;
    &:hover {
        cursor: pointer;
        box-shadow: 5px 5px 5px 0px #C4C6C6;
    }
}

#temp-type {
    background-color: inherit;
    border: none;
    font-size: large;
    padding: 0.5em;
    &:focus {
        outline: none;
    }
}

.loc-acquired {
    flex: 8;
}

.location-now {
    display: flex;
    gap: 0.5em;
    justify-content: center;
    padding: 1em;
    font-size: larger;
}

.time-frame {
    display: flex;
    justify-content: space-evenly;
}

.time {
    flex: 1;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    padding: 1.5em;
    transition: background-color 0.5s ease;
    &:hover {
        cursor: pointer;
    }
}

.alerts {
    background-color: rgb(250, 104, 104);
    display: flex;
    padding: 1.5em;
    width: 100%;
}

.weather-display {
    height: 70%;
}

.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
    font-size: larger;
}

.display {
    display: flex;
    width: 100vw;
    height: 100%;
}

.display > .col {
    font-family: 'Saira', sans-serif;
    flex: 1;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    text-align: center;
}

.display > .left.n {
    font-size: 800%;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
}

.display > .right.n {
    font-size: 700%;
    font-weight: lighter;
}

.col.three {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.three > .cell {
    font-family: 'Saira', sans-serif;
    font-size: 300%;
    text-align: center;
}

.cell > * {
    font-family: 'Saira', sans-serif;
    /* text-align: center; */
}

.three > .top {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.active {
    background-color: orange;
}

.loc-unknown {
    flex: 8;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
}

.no-loc {
    display: flex;
    justify-content: center;
}

.loc-unknown > h3 {
    margin: 3em 0;
}

.hidden {
    display: none;
}