@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,500&display=swap');

:root {
    --sunny-color: #c1eaf5;
    --cloudy-one: #cfe1e6;
    --cloudy-two: #bccbcf;
    --precip-one: #d3d9db;
    --precip-two: #c3c6c7;
    --snowy: #ededed;
    --thunder: #828485;
    --night: #213885;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.content {
    height: 100vh;
    background-color: var(--cloudy-one);
    transition: background-color 1s ease;
}

.top-ribbon {
    display: flex;
    padding: 1em;
}

.titles {
    flex: 1;
}

.utilities {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.loc-acquired {
    height: inherit;
}

.location-now {
    display: flex;
    gap: 0.5em;
    justify-content: center;
    padding: 0.5em;
}

.time-frame {
    display: flex;
    justify-content: space-evenly;
}

.time {
    flex: 1;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    padding: 1.5em;
}

.alerts {
    background-color: rgb(250, 104, 104);
    display: flex;
    padding: 1.5em;
}

.weather-display {
    height: inherit;
}

.display {
    display: flex;
    width: 100vw;
    height: 50%;
}

.display > .col {
    border: 1px solid black;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
}

.display > .left.n {
    font-size: 1500%;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
}

.display > .right.n {
    font-size: 1000%;
    font-weight: lighter;
}

.hidden {
    display: none;
}

.active {
    background-color: orange;
}

.loc-unknown > h3 {
    margin: 1em;
    width: 60%;
}